<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codexpect\IntegrationTests\Api\Data\ActionHistoryInterface" type="Codexpect\IntegrationTests\Model\Data\ActionHistoryData"/>
    <preference for="Codexpect\IntegrationTests\Api\ActionHistoryRepositoryInterface" type="Codexpect\IntegrationTests\Model\ActionHistoryRepository"/>
</config>
